// Style Guide

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

// Layout
$mobile-zise: 375px;
$desktop-size: 1440px;

// Colors
// Primary
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

// Neutral
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

// Typography
// Body Copy
$font-size: 16px;
$font-color: hsl(224, 9%, 68%);

// Font 
$font-family: 'Red Hat Display', sans-serif;